@font-face {
	font-family: 'LeagueGothic';
	src: url("../fonts/League_Gothic.ttf");
}

@font-face {
	font-family: 'OpenSans';
	src: url('../fonts/OpenSans-Regular.ttf');
}

body {
	background-color: #f9f9f9;
}

header {
	background: url("../img/bg.png");
	margin: 0 auto;
	background-size: cover;
	background-position: center, top;
	width: 100%;
	height: 986px;
}

.clearfix:after {
	content		: '.';
	visibility	: hidden;
	display		: block;
	height		: 0;
	clear		: both;
}

.left {
	float: left;
}

.right {
	float: right;
}

.readbtn{
	font-family: 'LeagueGothic',sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
}

.centered {
	width: 982px;
	margin: 0 auto;
	position: relative;
}

.logo {
	float: left;
}

.logo p {
	display: inline;
	padding: 0;
}

.logo__header {
	margin-top: 70px;
	margin-bottom: 172px;
}

.logo__start {
	text-align: end;
	width: 120px;
	height: 36px;
	text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
	color: #fff;
	font-family: 'LeagueGothic', sans-serif;
	font-size: 48px;
	font-weight: 400;
	line-height: 34px;
}

.logo__ending {
	margin-left: -6px; !important;
	width: 29px;
	height: 36px;
	color: #724f81;
	text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
	font-family: 'LeagueGothic', sans-serif;
	font-size: 48px;
	font-weight: 400;
	line-height: 34px;
}

.menu {

}

.menu__header > ul > li {
	float: right;
	margin-left: 30px;
	margin-top: 70px;
	font-family: 'LeagueGothic', sans-serif;
	margin-right: 22px;
}

.menu>ul>li>a {
	text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4);
	color: white;
	font-family: 'LeagueGothic', sans-serif;
	font-size: 24px;
	font-weight: 400;
	line-height: 34px;
	text-transform: uppercase;
	text-decoration: none;
}

.menu>ul>li:hover {
	border-bottom: 2px solid white;
}

.carousel {
	background-color: rgba(0, 0, 0, 0.2);
	width: 100%;
	height: 400px;
}

.container {
	width: 517px;
}

.container h1 {
	color: #fefefe;
	font-family: 'LeagueGothic', sans-serif;
	font-size: 60px;
	font-weight: 400;
	line-height: 36px;
	padding-top: 90px;
	padding-bottom: 10px;
	padding-left: 3px;
	letter-spacing: -0.3px;
}

.container h2 {
	color: #edbfff;
	font-family: 'LeagueGothic', sans-serif;
	font-size: 32px;
	font-weight: 400;
	line-height: 36px;
	padding-left: 3px;
}

.container p {
	color: white;
	font-family: 'OpenSans', sans-serif;
	font-size: 18px;
	font-weight: 300;
	line-height: 25px;
	letter-spacing: -0.4px;
	margin-top: 1px;
}

div.readbtn {
	height: 22px;
	width: 256px;

}

.readbtn>a {
	color: white;
	text-decoration: none;
	text-transform: uppercase;
}

.readbtn>a:hover {
	text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
}

.img-back {
	position: absolute;
	right: 227px;
	top: 58px;
}

.img-phone {
	position: absolute;
	right: 92px;
	top:-17px;
	z-index: 1;
}

.markers {
	width: 83px;
	margin-top: 93px;
	margin-bottom: 81px;
}

.markers input {
	padding:0;
	margin: 0;
}

.content__container {
	background: linear-gradient(to top, #322539 0%, #745083 100%);
	height: 342px;
	width: 100%;
	margin-top: -140px;
}


.column {
	float: left;
}

.btn__container {
	width: 100%;
	height: 22px;
	margin-left: 20px;
	overflow: hidden;
}

.column__readbtn {
	float: left;

}

.bar__column {
	height: 253px;
	overflow: hidden;
	margin: 0;
	padding: 0;
	width: 255px;
}

.icon {
	float: left;
	height: 30px;
	margin-top: 82px;
	width: 30px;
	background: url("../img/sprint.png") 0 0 no-repeat;
}

.right_align {
	padding-left: 200px;
}

.firstcol{
	margin-left: 10px;
}

.secondcol {
	background-position: -30px 0;
	margin-left: 54px;
}

.thirdcol{
	background-position: -58px 0;
	margin-left: 52px;
}

.second__btn {
	width: 0;
	padding-left: 86px;
}

.third__btn {
	width: 0;
	padding-left: 81px;
}

.column h3 {
	text-shadow: 1px 1px 0 #0f1518;
	color: white;
	font-family: LeagueGothic, sans-serif;
	font-size: 30px;
	font-weight: 400;
	line-height: 24px;
}

.bar__column h3 {
	margin-top: 80px;
	padding-left: 24px;
}

.column p {
	text-shadow: 1px 1px 0 #0f1518;
	color: white;
	font-family: OpenSans, sans-serif;
	font-size: 16px;
	font-weight: 300;
	line-height: 24px;
}

.bar__column p {
	margin-top: 10px;
	letter-spacing: -0.4px;
	padding-left: 24px;
}

.content {
	height: 608px;
}

.content__column {
	position: relative;
	width: 50%;
	overflow: hidden;
	margin-top: 98px;
}

.content__column h3 {
	width: 207px;
	height: 22px;
	text-shadow: 1px 2px 0 white;
	font-family: LeagueGothic, sans-serif;
	font-size: 30px;
	font-weight: 400;
	line-height: 24px;
	text-transform: uppercase;
	color: #454545;
	padding-top: 36px;
	padding-left: 19px;
}

.content__column span {
	color: #edbfff;
}

.content__darkrow {
	width: 365px;
	height: 41px;
	text-shadow: 1px 2px 0 white;
	color: #454545;
	font-family: OpenSans, sans-serif;
	font-size: 16px;
	line-height: 44px;
	padding-top: 0;
	font-weight: 800;
}

.content__lightrow {
	text-shadow: 1px 1px 0 white;
	color: #454545;
	font-family: OpenSans, sans-serif;
	font-size: 16px;
	font-weight: 300;
	line-height: 2px;
}

.start {
	background: url("../img/dialogue_cloud.png");
	float: left;
	width: 427px;
	height: 292px;
	margin-left: 23px;
}

.start img{
	position: absolute;
	top: 22px;
	left:0;
}

.start h3 {
	padding-left: 38px;
	padding-top: 36px;
	letter-spacing: -0.3px;
}

.start p {
	padding-left: 38px;
	letter-spacing: -0.4px;
	line-height: 24px;
	margin-top: 13px;
	padding-right: 32px;
}

.start__markers {
	margin-top: 303px;
	margin-bottom: 64px;
}

.updates {
	height:  280px;
	width: 100%;
}

.update__article {
	margin-top: 11px;
}

.update__article p {
	margin-top: 10px;
	padding-left: 0;
}

.update__article img{
	float: left;
	padding: 6px 17px 0 18px;
}

div.update__readbtn {
	width: 91%;
}

.update__readbtn>a {
	float: right;
	text-shadow: 1px 2px 0 white;
	color: #454545;
	font-family: LeagueGothic, sans-serif;
	font-size: 18px;
}

.img-logo {
	width: 795px;
	height: 65px;
	background: url("../img/logos.png") no-repeat;
	margin-top: 23px;
}

footer {
	background-color: #ECECEC;
	height: 512px;
	width: 100%;
}

.column__footer {
	margin-top: 102px;
	padding-left: 43px;
	width: 30%;
	height: 250px;
	overflow: hidden;
	margin-bottom: 48px;
}

.column__footer:first-child {
	padding: 0;
}

.column__footer>h3 {
	color: #454545;
}

.column__footer>p {
	color: #787878;
	margin-top: 11px;
}

.logo__footer {
	display: inline;
	margin: 0;
	width: 100%;
}

.logo__start--black {
	color: #454545;
}

.logo__ending--gray {
	color: #b9b9b9;
}

p.copy__footer {
	display: block;
	width: 201px;
	height: 15px;
	text-shadow: 1px 2px 0 white;
	color: #c5c5c5;
	font-family: Georgia, sans-serif;
	font-size: 16px;
	font-style: italic;
	line-height: 24px;
	margin-top: 52px;
	margin-bottom: 15px;
}

.img-footer {
	background: url("../img/bg-footer.png");
	background-size: cover;
	background-position: center, top;
	width: 100%;
	height: 114px;
}

.menu__footer {
	float: left;
	margin: 0;
	padding: 0;
	margin-top: 38px;
}

.menu__footer>ul>li {
	float: left;
	margin-right: 43px;
	font-family: 'LeagueGothic', sans-serif;
}

.menu>ul>li>a {
	font-size: 20px;
}

.designed {
	float: right;
	width: 137px;
	height: 13px;
	text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4);
	color: white;
	font-family: OpenSans, sans-serif;
	font-size: 12px;
	line-height: 34px;
	font-weight: 300;
	margin-top: 41px;
	margin-right: 23px;
}

.designed span {
	font-weight: 700;
}